<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <script src="https://unpkg.com/swup@4"></script>
    <link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch&family=Ysabeau+Infant&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/src/_includes/components/scripts/filters.js"></script>
  </head>
  <body>
    <div class="background">
      <div class="center">
        {% include 'components/navbar.njk' %}
        <main class="transition-main" id="swup" role="main">
          {% if banner %}
            <img src="{{ banner }}" class="banner"/>
          {% endif %}
          <div class="content">
            <div class="title">{{ title }}</div>
            <div class="md-container">
              {{ content | safe }}
            </div>
            <div class="next">
              {%- if collections.posts %}
                {%- set previousPost = collections.posts | getPreviousCollectionItem %}
                {%- set nextPost = collections.posts | getNextCollectionItem %}
                {%- if nextPost or previousPost %}
                  <ul class="links-nextprev">
                    {%- if previousPost %}
                      <li>Previous:
                        <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
                      </li>
                    {% endif %}
                    {%- if nextPost %}
                      <li>Next:
                        <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
                      </li>
                    {% endif %}
                  </ul>
                {%- endif %}
              {%- endif %}
            </div>
          </div>
          <div>          
          </div>
          
          {% include 'css.njk' %}
        </main>
      </div>
    </div>
    {% include 'helper/blur.njk' %}
    {%include "components/linkPreview.njk"%}
    <script>
      document.addEventListener('click', (e) => {
        if (e.target.closest('.callout-fold, .callout-title')) {
          const callout = e.target.closest('.callout.is-collapsible');
          callout && callout.classList.toggle('is-collapsed');
        }
      });
    </script>
  </body>
</html>