<div class="comments">
    <h6>Comments</h6>
    <p>We'd love to hear how you've used this content in your own campaigns! Share your anecdotes and examples in the comments below to inspire and help other readers imagine the possibilities. Your input can also help us refine and improve the note structure for future adventure modules.</p>
    <script src="https://utteranc.es/client.js"
        repo="pheelwell/pheelwell-garden"
        issue-term="pathname"
        label="comment"
        theme="photon-dark"
        crossorigin="anonymous"
        async>
    </script>
</div>