<script>
    console.log('swup init');
    const swup = new Swup();
    var overlayInit = function () { // Get all img elements in content
        var originalImages = document.querySelectorAll('img:not(.logo-image img)');
        // Iterate through each original image
        originalImages.forEach(function (image) { // Create a new image element for the overlay
            var overlayImage = new Image();
            // Set the source of the overlay image to the original image
            overlayImage.src = image.src;
            overlayImage.classList.add('overlay-image');
            // Append the overlay image to the parent container
            image
                .parentNode
                .classList
                .add('image-container');
            // append before to the original image (orient on img not parent)
            image.insertAdjacentElement('beforebegin', overlayImage);
        });
    };
    swup.hooks.on('page:view', (visit) => {
        console.log('New page loaded:', visit.to.url);
        overlayInit();
    });
    document.addEventListener("DOMContentLoaded", function () {
        overlayInit();
    });
</script>
<style>
    img.overlay-image {
        /* position the blurred image on top of the original image */
        display: inline-block;
        clear: both;
        position: absolute;
        opacity: 0.8;
        opacity: 0.8;
        filter: blur(500px) saturate(200%);
        z-index: -2; /* Ensure the background image is behind the overlay */
        /* insane contrast to make the overlay image visible */
    }
    /* extra style for before banner */
    .center > img.overlay-image {
        /* position the blurred image on top of the original image */
        width: 50%;

        
    }
</style>